.navbar {
  background-color: #e3f2fd;
  margin-top: 15px;  
}

header {
  font-family: 'Barlow', sans-serif;
  padding: 15px;
  background-color: #e3f2fd;
}

.fs-1 {
  text-align: center;
}

.fs-2 {
  text-align: center;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}