body {
  background-color: #e3f2fd;
}

.navbar {
  background-color: #e3f2fd;
  margin-top: 15px;  
}

header {
  font-family: 'Barlow', sans-serif;
  padding: 15px;
  background-color: #e3f2fd;
}

.fs-1 {
  text-align: center;
}

.fs-2 {
  text-align: center;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

main {
  background-image: url(../images/Estrela.jpg);
  background-repeat: no-repeat;
  background-size: 40%;
  padding: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.homeTitle {
  text-align: right;
  font-family: 'Barlow', sans-serif;
  font-size: 30px;
  padding: 20px;
}

.homeText {
  text-align: justify;
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  width: 50%;
  margin-left: 50%;
}