body {
  background-image: url(../images/nuvem-branca-com-fundo-de-ceu-azul.avif);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  margin-top: 15px;  
}

header {
  font-family: 'Barlow', sans-serif;
  padding-top: 15px;
}

.fs-1 {
  position: absolute;
  bottom: 500px;
  left: 180px;
}

.fs-2 {
  position: absolute;
  bottom: 450px;
  left: 180px;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: absolute;
  padding: 0;
  bottom: 0;
  left: 0;
}

main {
  /* background-image: url(../images/nuvem-branca-com-fundo-de-ceu-azul.avif); */
  /* background-repeat: no-repeat;
  background-size: cover; */
  padding: 200px;
  height: 85vh;

}

.homeTitle {
  text-align: right;
  font-family: 'Barlow', sans-serif;
  font-size: 30px;
  padding: 20px;
}

.homeText {
  text-align: justify;
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  margin-left: 50%;
}

footer {
  background-color: #b1cee2;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}